<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <title>Question</title>
</head>
<body>
    <div class="container">
        <h2 id="question-text" data-question-id="" >Loading question...</h2>
        <ul id="options">
        </ul>
        <button id="submit-answer">Submit</button>
        <button id="results-page">Result</button>
    </div>
    <script src="{% static 'quiz/script.js' %}"></script>
    <script>
        document.getElementById("results-page").addEventListener("click", function() {
            window.location.href = "https://django-quiz-app-mf3p.onrender.com/quiz/results/";
        });
    </script>
</body>
</html>