<!DOCTYPE html>
<html lang="en">
     {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    <title>Quiz</title>
</head>
<body>
    <div class="container">
        <h1>welcome, to start session click below.</h1>
        <button id="start-quiz">Start Quiz</button>
    </div>
    <script type="text/javascript" src="{% static 'quiz/script.js' %}"></script>
</body>
</html>